##############################
# VENV 
##############################
python/venv/
venv/
.env/
.env.*



##############################
# WEB / FRONTEND
##############################
node_modules/
dist/
build/
.cache/

##############################
# FLASK / ULTRALYTICS / TMP FILES
##############################
*.tmp
*.temp
*.bak
*.old
*.swp
*.lock



##############################
# SECRET / KEYS
##############################
*.key
*.pem
*.crt


